@font-face {
  font-family: 'UTM Avo';
  src: url('../vendor/frontend/fonts/UTM-Avo/UTM Avo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTM Avo';
  src: url('../vendor/frontend/fonts/UTM-Avo/UTM AvoBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'utm_eremitageregular';
    src: url('../vendor/frontend/resources/fonts/UTMEremitage/utm_eremitage-webfont.woff2') format('woff2'),
         url('../vendor/frontend/resources/fonts/UTMEremitage/utm_eremitage-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
  font-family: 'FZ Poppins';
  src: url('../vendor/frontend/fonts/FzPoppins/FZ Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FZ Poppins';
  src: url('../vendor/frontend/fonts/FzPoppins/FZ Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FZ Poppins';
  src: url('../vendor/frontend/fonts/FzPoppins/FZ Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FZ Poppins';
  src: url('../vendor/frontend/fonts/FzPoppins/FZ Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FZ Poppins';
  src: url('../vendor/frontend/fonts/FzPoppins/FZ Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FZ Poppins';
  src: url('../vendor/frontend/fonts/FzPoppins/FZ Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FZ Poppins';
  src: url('../vendor/frontend/fonts/FzPoppins/FZ Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FZ Poppins';
  src: url('../vendor/frontend/fonts/FzPoppins/FZ Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FZ Poppins';
  src: url('../vendor/frontend/fonts/FzPoppins/FZ Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}